<%= form_for([@user, @campaign, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag 'Weekends & Gatherings' do %>
	  <div class="row">
		  
		  <div class="large-6 columns"> <!-- LEFT COLUMNS -->
			  
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :information_act_dates, "Information Activity", :class => 'right inline' %><br>
				  </div>
				   <div class="large-3 small-6 columns">
					    <%= f.text_field :information_act_dates, :class => 'date-picker', :value => (formatted_smalldate(f.object.information_act_dates) if f.object.information_act_dates) %>
						<%= f.hidden_field :information_act_dates, :class => 'alt_time_to_db' %>
				  </div>
				   <div class="large-3 small-6 columns">
					    <%= f.text_field :information_act_end, :class => 'date-picker', :value => (formatted_smalldate(f.object.information_act_end) if f.object.information_act_end) %>
						<%= f.hidden_field :information_act_end, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :weekend_1_dates, "Weekend I", :class => 'right inline' %><br>
				  </div>
				   <div class="small-6 columns">
					    <%= f.text_field :weekend_1_dates, :class => 'date-picker', :value => (formatted_date(f.object.weekend_1_dates) if f.object.weekend_1_dates) %>
						<%= f.hidden_field :weekend_1_dates, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :weekend_2_dates, "Weekend II", :class => 'right inline' %><br>
				  </div>
				   <div class="small-6 columns">
					    <%= f.text_field :weekend_2_dates, :class => 'date-picker', :value => (formatted_date(f.object.weekend_2_dates) if f.object.weekend_2_dates) %>
						<%= f.hidden_field :weekend_2_dates, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :ac_gather_1, 'AC Gathering #1', :class => 'right inline' %><br>
				  </div>
				   <div class="small-6 columns">
					    <%= f.text_field :ac_gather_1, :class => 'datetime-picker', :value => (formatted_datetime(f.object.ac_gather_1) if f.object.ac_gather_1) %>
						<%= f.hidden_field :ac_gather_1, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :ac_gather_2, 'AC Gathering #2', :class => 'right inline' %><br>
				  </div>
				   <div class="small-6 columns">
					    <%= f.text_field :ac_gather_2, :class => 'datetime-picker', :value => (formatted_datetime(f.object.ac_gather_2) if f.object.ac_gather_2) %>
						<%= f.hidden_field :ac_gather_2, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :ac_gather_3, 'AC Gathering #3', :class => 'right inline' %><br>
				  </div>
				   <div class="small-6 columns">
					    <%= f.text_field :ac_gather_3, :class => 'datetime-picker', :value => (formatted_datetime(f.object.ac_gather_3) if f.object.ac_gather_3) %>
						<%= f.hidden_field :ac_gather_3, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :ac_gather_4, 'AC Gathering #4', :class => 'right inline' %><br>
				  </div>
				   <div class="small-6 columns">
					    <%= f.text_field :ac_gather_4, :class => 'datetime-picker', :value => (formatted_datetime(f.object.ac_gather_4) if f.object.ac_gather_4) %>
						<%= f.hidden_field :ac_gather_4, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  
			  
		  </div> <!-- END LEFT COLUMNS -->
		  
		  
		  <div class="large-6 columns"> <!-- RIGHT COLUMNS -->
			  
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :youth_invlvm_wknd_dates, 'Youth Involvement Weekend', :class => 'right inline' %><br>
				  </div>
				   <div class="small-6 columns">
					    <%= f.text_field :youth_invlvm_wknd_dates, :class => 'date-picker', :value => (formatted_date(f.object.youth_invlvm_wknd_dates) if f.object.youth_invlvm_wknd_dates) %>
						<%= f.hidden_field :youth_invlvm_wknd_dates, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :youth_commt_event, 'Youth Commitment Event', :class => 'right inline' %><br>
				  </div>
				   <div class="small-6 columns">
					    <%= f.text_field :youth_commt_event, :class => 'date-picker', :value => (formatted_date(f.object.youth_commt_event) if f.object.youth_commt_event) %>
						<%= f.hidden_field :youth_commt_event, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :weekend_3_dates, "Weekend III", :class => 'right inline' %><br>
				  </div>
				   <div class="small-6 columns">
					    <%= f.text_field :weekend_3_dates, :class => 'date-picker', :value => (formatted_date(f.object.weekend_3_dates) if f.object.weekend_3_dates) %>
						<%= f.hidden_field :weekend_3_dates, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :weekend_4_dates, "Weekend IV", :class => 'right inline' %><br>
				  </div>
				   <div class="small-6 columns">
					    <%= f.text_field :weekend_4_dates, :class => 'date-picker', :value => (formatted_date(f.object.weekend_4_dates) if f.object.weekend_4_dates) %>
						<%= f.hidden_field :weekend_4_dates, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :parish_wide_event_dates, "Parish Wide Event", :class => 'right inline' %><br>
				  </div>
				   <div class="small-6 columns">
					    <%= f.text_field :parish_wide_event_dates, :class => 'date-picker', :value => (formatted_date(f.object.parish_wide_event_dates) if f.object.parish_wide_event_dates) %>
						<%= f.hidden_field :parish_wide_event_dates, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :celebration_mass_dates, "Celebrartion Mass/Service", :class => 'right inline' %><br>
				  </div>
				   <div class="small-6 columns">
					    <%= f.text_field :celebration_mass_dates, :class => 'date-picker', :value => (formatted_date(f.object.celebration_mass_dates) if f.object.celebration_mass_dates) %>
						<%= f.hidden_field :celebration_mass_dates, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  <div class="row field">
				  <div class="small-6 columns">
					    <%= f.label :information_act_2_dates, "Information Activity #2", :class => 'right inline' %><br>
				  </div>
				   <div class="large-3 small-6 columns">
					    <%= f.text_field :information_act_2_dates, :class => 'date-picker', :value => (formatted_smalldate(f.object.information_act_2_dates) if f.object.information_act_2_dates) %>
						<%= f.hidden_field :information_act_2_dates, :class => 'alt_time_to_db' %>
				  </div>
				   <div class="large-3 small-6 columns">
					    <%= f.text_field :information_act_2_end, :class => 'date-picker', :value => (formatted_smalldate(f.object.information_act_2_end) if f.object.information_act_2_end) %>
						<%= f.hidden_field :information_act_2_end, :class => 'alt_time_to_db' %>
				  </div>
			  </div> <!-- END ROW -->
			  
		  </div> <!-- END RIGHT COLUMNS -->
		  
		  <hr>
		  <div class="actions">
		    <%= f.submit %> |
			<%= link_to 'Cancel/Back', user_campaign_events_path(@user, @campaign) %>
		  </div>
		  
	  </div> <!-- END WEKKENDS & GATHEINGS FIELDSET -->
  <% end %>
  
  <hr>
  <br>
		  
<% end %>