<span id="notice"><%= notice %></span>
<br><br>
<h3>Events/Dates and Responsibility Documents:
	<%= @campaign.name %>
</h3>

<div class="row">
    <%# render 'nav/side_nav' %>
	<div class="small-6 columns">
		<h3>Edit Events/Dates:</h3>
		<table>
		  <thead>
		    <tr>
		      <th>Leadership Team Training</th>
		      <th>Campaign</th>
			  <th></th>
		      
		    </tr>
		  </thead>

		  <tbody>
		    <%-#<% @events.each do |event| -%>
		      <tr>
		        <td><%= formatted_datetime(@event.leadership_team_trng) %></td>
		        <td><%= @event.campaign.name %></td>
		        <td><%= link_to 'Add/Edit Events', edit_user_campaign_event_path(@user, @campaign, @event) %></td>
		        <!--<td><%# link_to 'Delete All', [@user, @campaign, @event], method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_link' %></td>-->
		      </tr>
		    <%-#<% end -%>
		  </tbody>
		</table>
	</div> <!-- END small-12 columns -->
	<div id="pdf-links" class="small-6 columns to-pdf">
		<div class="small-4 columns">
			<%= link_to "Generate Manuals", generate_user_campaign_path(@user, campaign_id: @campaign.id, id: @campaign, format: :pdf), remote: true, id: "to_pdf", class: "button small" %>
		</div>
		<div class="small-8 columns">
			<div class="progress round" id="progress-bar">
				<span class="meter"></span>
			</div>
		</div>
	</div> <!-- END small-6 columns -->
</div> <!-- END Row -->

<div class="row">
    <%# render 'nav/side_nav' %>
	<div class="small-12 columns">
		<div class="document_link">
			<h3>Responsibility Documents:
				<% if show_if_exists_on_s3? %>
					(<span class="green">Block Calendar has been uploaded!</span>)
					<% else %>
					<span class="red">(<%= link_to "Block Calendar not uploaded", user_campaign_path(@user, @campaign), :class => 'red' %>)</span>
				<% end %>
			</h3>
			<div class="small-6 columns">
				<div id="resp-links"  class="panel">
					<% if File.exist?("pdfs/campaign_docs/#{@campaign.id}/ac_resp.pdf") %>
						<span class="saved">Saved!</span>
					<% end %>
					<%= link_to 'Advance Commitment', user_campaign_event_document_path(@user, @campaign, @event, 'ac_resp') %><br>
					<%= link_to 'Campaign Admin', user_campaign_event_document_path(@user, @campaign, @event, 'cadmin_resp') %><br>
					<%= link_to 'Campaign Chair', user_campaign_event_document_path(@user, @campaign, @event, 'chair_resp') %><br>
					<%= link_to "Children's Activity", user_campaign_event_document_path(@user, @campaign, @event, 'childs_act_resp') %><br>
					<%= link_to "Contact", user_campaign_event_document_path(@user, @campaign, @event, 'contact_resp') %><br>
					<%= link_to "Event", user_campaign_event_document_path(@user, @campaign, @event, 'event_resp') %><br>
					<%= link_to "Follow-up", user_campaign_event_document_path(@user, @campaign, @event, 'follow_resp') %><br>
					<%= link_to "Information", user_campaign_event_document_path(@user, @campaign, @event, 'info_resp') %><br>
					<%= link_to "Involvement", user_campaign_event_document_path(@user, @campaign, @event, 'involve_resp') %><br>
					<%= link_to "Pacesetter", user_campaign_event_document_path(@user, @campaign, @event, 'pacesetter_resp') %><br>
					<%= link_to "Pastor", user_campaign_event_document_path(@user, @campaign, @event, 'pastor_resp') %><br>
					<%= link_to "Prayer", user_campaign_event_document_path(@user, @campaign, @event, 'prayer_resp') %><br>
					<%= link_to "Print Communications", user_campaign_event_document_path(@user, @campaign, @event, 'print_resp') %><br>
					<%= link_to "Visual Communications", user_campaign_event_document_path(@user, @campaign, @event, 'visual_resp') %><br>
					<%= link_to "Youth", user_campaign_event_document_path(@user, @campaign, @event, 'youth_resp') %><br>
				</div>
				<div>
					<% if show_zips_if_exist_on_s3? %>
						<table id="S3_zips_table">
					  	    <thead>
						       <tr>
							      <th>Zip files on S3</th>
								  <th>Created on</th>
						       </tr>
						    </thead>
							<tbody>
							    <% @files.each_slice(2) do |path| %>
									<tr>
									  	<td>
											<li>
												<a href="<%= path[0] %>" target="_blank">
										  	<%= File.basename path[0] %></a>
										</td>
										<td class="small-date"><%= "#{formatted_date(path[1])}" %><br>
											<%= "#{formatted_time(path[1])}" %>
										</td
									</tr>
							   <% end %>
							</tbody>
						</table>
					<% end %>
				</div>
			</div>
			<div class="large-6 columns">
				<% if show_pdfs_if_exist_on_s3? %>
				<%= form_tag('/zip', remote: true, id: 'zip_form') %>
					<table id="S3_docs_table">
				  	    <thead>
					       <tr>
						      <th>PDF Manuals on S3</th>
							  <th>Zip</th>
					       </tr>
					    </thead>
					    <tbody>
						    <% @files.each do |path| %>
						  		<tr>
								  	<td>
										<li>
											<a href="<%= path %>" target="_blank">
									  	<%= File.basename path %></a>
									</td>
									<td><%= check_box_tag("to_zip[]", "#{File.basename path}", false, class: 'zip-check', disabled: false) %></td>
								</tr>
						    <% end %>
							<td class="right">Select All/None</td>
							<td><%= check_box_tag 'select_all', 'all', false %></td>
					    </tbody>
			  	  	</table>
			    <% end %>
				<a href="#" id="zip_button" class="button small right push-1" data-reveal-id="zip_name" data-reveal>Zip Files</a>
				<%= hidden_field_tag "zip_file_name", 'Archive' %>
				<%= hidden_field_tag "campaign_name", @campaign.name %>
				<%= hidden_field_tag "campaign_city", @campaign.city %>
				<div id="zip_name" class="reveal-modal tiny" data-reveal>
					<h2>Please name the Zip file</h2>
					<p>There are <span id="zip_quantity"></span> files selected to Zip</p>
					<%= text_field_tag 'zip_file_input', 'Archive' %>
					<%= button_tag "Zip Files", id: 'zip_file_button' %>
					<span id="zip_confirm" class="push-2"> Zipping files in progress...</span>
					<a class="close-reveal-modal">&#215;</a>
				</div>
				<%= submit_tag('Zip files', id: "zip_submit", hidden: true) %>
			</div> <!-- END "small-6 columns" -->
		</div> <!-- END "document-link" -->
	</div> <!-- END "small-12 columns" -->
</div> <!-- END row -->
<script>
$(document).ready(function() {
	$('#zip_confirm').hide();
	var showZipButton = function() {
		$('#zip_button').hide();
		if ($('#S3_docs_table').is(':visible')) {
			$('#zip_button').show();
		}
	}
	showZipButton();
	
	var countChecked = function() {
		var n = $('.zip-check:checked').length;
		$('#zip_quantity').text(n);
		//alert(n);
		if (n <= 0) {
			$('#zip_button').bind('click', false);
			//alert("Please select PDFs to Zip");
		} else if (n >= 1) {
			$('#zip_button').unbind('click', false);
		}
	}
	countChecked();
	
	var toggleYellow = function(check) {
		var tr = $(check).closest("tr");
		//alert(tr);
		if (check.checked == false && $(tr).hasClass('yellow')) {
			$(tr).removeClass('yellow');
		} else {
			$(tr).addClass('yellow');
		}
	}
	
	$('.zip-check').click(function() {
		toggleYellow(this);
		countChecked();
	})
	$('#select_all').click(function() {
		//$('.zip-check').prop('checked', true);
		//$('.zip-check').trigger('click');
		if (this.checked) {
			$('.zip-check').each(function() {
				this.checked = true;
				toggleYellow(this);
				countChecked();
			})
		} else {
			$('.zip-check').each(function() {
				this.checked = false;
				toggleYellow(this);
				countChecked();
			})
		}
	})
		
	$('#zip_file_button').click(function() {
		var zip_name = $('#zip_file_input').val();
		$('#zip_file_name').val(zip_name);
		
		$('#zip_form').submit();
		
	})
	if ($('div.document_link span a').hasClass('red')) {
		//alert('true');
		$('#pdf-links').hide();
	}
})
</script>

<%-# link_to 'Back', user_campaigns_path(@user) -%>
<%-# link_to 'New Event', new_user_campaign_event_path(@user, @campaign) -%>
