<span id="notice"><%= notice %></span>
<br><br>
<h3>Events/Dates and Responsibility Documents:
	<%= @campaign.name %>
</h3>

<div class="row">
    <%# render 'nav/side_nav' %>
	<div class="small-6 columns">
		<h3>Edit Events/Dates:</h3>
		<table>
		  <thead>
		    <tr>
		      <th>Leadership Team Training</th>
		      <th>Campaign</th>
			  <th></th>
		      
		    </tr>
		  </thead>

		  <tbody>
		    <%-#<% @events.each do |event| -%>
		      <tr>
		        <td><%= formatted_datetime(@event.leadership_team_trng) %></td>
		        <td><%= @event.campaign.name %></td>
		        <td><%= link_to 'Add/Edit Events', edit_user_campaign_event_path(@user, @campaign, @event) %></td>
		        <!--<td><%# link_to 'Delete All', [@user, @campaign, @event], method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_link' %></td>-->
		      </tr>
		    <%-#<% end -%>
		  </tbody>
		</table>
	</div> <!-- END small-12 columns -->
	<div id="pdf-links" class="small-6 columns to-pdf">
		<div class="small-4 columns">
			<%= link_to "Generate Manuals", generate_user_campaign_path(@user, campaign_id: @campaign.id, id: @campaign, format: :pdf), remote: true, id: "to_pdf", class: "button small" %>
		</div>
		<div class="small-8 columns">
			<div class="progress round" id="progress-bar">
				<span class="meter"></span>
			</div>
		</div>
	</div> <!-- END small-6 columns -->
</div> <!-- END Row -->

<div class="row">
    <%# render 'nav/side_nav' %>
	<div class="small-12 columns">
		<div class="document_link">
			<h3>Responsibility Documents:
				<% if show_if_exists_on_s3? %>
					(<span class="green">Block Calendar has been uploaded!</span>)
					<% else %>
					<span class="red">(<%= link_to "Block Calendar not uploaded", user_campaign_path(@user, @campaign), :class => 'red' %>)</span>
				<% end %>
			</h3>
			<div id="resp-links" class="small-6 columns panel">
				<% if File.exist?("pdfs/campaign_docs/#{@campaign.id}/ac_resp.pdf") %>
					<span class="saved">Saved!</span>
				<% end %>
				<%= link_to 'Advance Commitment', user_campaign_event_document_path(@user, @campaign, @event, 'ac_resp') %><br>
				<%= link_to 'Campaign Admin', user_campaign_event_document_path(@user, @campaign, @event, 'cadmin_resp') %><br>
				<%= link_to 'Campaign Chair', user_campaign_event_document_path(@user, @campaign, @event, 'chair_resp') %><br>
				<%= link_to "Children's Activity", user_campaign_event_document_path(@user, @campaign, @event, 'childs_act_resp') %><br>
				<%= link_to "Contact", user_campaign_event_document_path(@user, @campaign, @event, 'contact_resp') %><br>
				<%= link_to "Event", user_campaign_event_document_path(@user, @campaign, @event, 'event_resp') %><br>
				<%= link_to "Follow-up", user_campaign_event_document_path(@user, @campaign, @event, 'follow_resp') %><br>
				<%= link_to "Information", user_campaign_event_document_path(@user, @campaign, @event, 'info_resp') %><br>
				<%= link_to "Involvement", user_campaign_event_document_path(@user, @campaign, @event, 'involve_resp') %><br>
				<%= link_to "Pacesetter", user_campaign_event_document_path(@user, @campaign, @event, 'pacesetter_resp') %><br>
				<%= link_to "Pastor", user_campaign_event_document_path(@user, @campaign, @event, 'pastor_resp') %><br>
				<%= link_to "Prayer", user_campaign_event_document_path(@user, @campaign, @event, 'prayer_resp') %><br>
				<%= link_to "Print Communications", user_campaign_event_document_path(@user, @campaign, @event, 'print_resp') %><br>
				<%= link_to "Visual Communications", user_campaign_event_document_path(@user, @campaign, @event, 'visual_resp') %><br>
				<%= link_to "Youth", user_campaign_event_document_path(@user, @campaign, @event, 'youth_resp') %><br>
			</div>
			<div class="large-6 columns">
				<% if show_pdfs_if_exist_on_s3? %>
					<table id="S3_docs_table">
				  	    <thead>
					       <tr>
						      <th>PDF Manuals on S3</th>
							  <th>Zip</th>
					       </tr>
					    </thead>
					    <tbody>
						    <% @files.each do |path| %>
						  		<tr>
							  	<td>
									<li>
										<a href="<%= path %>" target="_blank">
								  	<%= File.basename path %></a>
								</td>
								<td><%= check_box_tag "#{File.basename path}", path, false, class: 'zip-checked', disabled: true %></td>
							</tr>
						    <% end %>
					    </tbody>
			  	  	</table>
			    <% end %>
				<%= link_to 'Zip files' %>
			</div> <!-- END "small-6 columns" -->
		</div> <!-- END "document-link" -->
	</div> <!-- END "small-12 columns" -->
</div> <!-- END row -->
<script>
$(document).ready(function() {
	/*$('.zip-checked').click(function() {
		if ($('.zip-checked').prop('checked')) {
			$('.button_to').css('display', 'true');
		} else {
			$('.button_to').css('display', 'none');
		}
	})*/
})
</script>

<%-# link_to 'Back', user_campaigns_path(@user) -%>
<%-# link_to 'New Event', new_user_campaign_event_path(@user, @campaign) -%>
