<tbody>
  <tr>
	  <td><%= subtract(@families_total, @gift_profile.t2_gifts_1) %></td>
	  <td><%= f.number_field :t2_gifts_1, :min => 0 %></td>
	  <td><%= f.number_field :t2_gift_amount_1, :min => 0 %></td>
	  <td><%= number_to_currency(multiply(@gift_profile.t2_gifts_1, @gift_profile.t2_gift_amount_1)) %></td>
	  <td><%= number_to_currency(total(@running_total, @cumulative_total)) %></td>
  </tr>
  <tr>
	  <td><%= subtract(@families_total, @gift_profile.t2_gifts_2) %></td>
	  <td><%= f.number_field :t2_gifts_2, :min => 0 %></td>
	  <td><%= f.number_field :t2_gift_amount_2, :min => 0 %></td>
	  <td><%= number_to_currency(multiply(@gift_profile.t2_gifts_2, @gift_profile.t2_gift_amount_2)) %></td>
	  <td><%= number_to_currency(total(@running_total, @cumulative_total)) %></td>
  </tr>
  <tr>
	  <td><%= subtract(@families_total, @gift_profile.t2_gifts_3) %></td>
	  <td><%= f.number_field :t2_gifts_3, :min => 0 %></td>
	  <td><%= f.number_field :t2_gift_amount_3, :min => 0 %></td>
	  <td><%= number_to_currency(multiply(@gift_profile.t2_gifts_3, @gift_profile.t2_gift_amount_3)) %></td>
	  <td><%= number_to_currency(total(@running_total, @cumulative_total)) %></td>
  </tr>
  <tr>
	  <td><%= subtract(@families_total, @gift_profile.t2_gifts_4) %></td>
	  <td><%= f.number_field :t2_gifts_4, :min => 0 %></td>
	  <td><%= f.number_field :t2_gift_amount_4, :min => 0 %></td>
	  <td><%= number_to_currency(multiply(@gift_profile.t2_gifts_4, @gift_profile.t2_gift_amount_4)) %></td>
	  <td><%= number_to_currency(total(@running_total, @cumulative_total)) %></td>
  </tr>
  <tr>
	  <td><%= subtract(@families_total, @gift_profile.t2_gifts_5) %></td>
	  <td><%= f.number_field :t2_gifts_5, :min => 0 %></td>
	  <td><%= f.number_field :t2_gift_amount_5, :min => 0 %></td>
	  <td><%= number_to_currency(multiply(@gift_profile.t2_gifts_5, @gift_profile.t2_gift_amount_5)) %></td>
	  <td><%= number_to_currency(total(@running_total, @cumulative_total)) %></td>
  </tr>
  <tr>
	  <td><%= subtract(@families_total, @gift_profile.t2_gifts_6) %></td>
	  <td><%= f.number_field :t2_gifts_6, :min => 0 %></td>
	  <td><%= f.number_field :t2_gift_amount_6, :min => 0 %></td>
	  <td><%= number_to_currency(multiply(@gift_profile.t2_gifts_6, @gift_profile.t2_gift_amount_6)) %></td>
	  <td><%= number_to_currency(total(@running_total, @cumulative_total)) %></td>
  </tr>
  <tr>
	  <td><%= subtract(@families_total, @gift_profile.t2_gifts_7) %></td>
	  <td><%= f.number_field :t2_gifts_7, :min => 0 %></td>
	  <td><%= f.number_field :t2_gift_amount_7, :min => 0 %></td>
	  <td><%= number_to_currency(multiply(@gift_profile.t2_gifts_7, @gift_profile.t2_gift_amount_7)) %></td>
	  <td><%= number_to_currency(total(@running_total, @cumulative_total)) %></td>
  </tr>
  <tr>
	  <td></td>
	  <td><strong><%= @tier_2_gifts.sum %></strong> Commitments = </td>
	  <td><%= number_to_currency(commitments(@tier_2_gifts, @tier_2_total_amount)) %> &nbsp;&nbsp;&nbsp;or</td>
	  <td><strong><%= percent(commitments(@tier_2_gifts, @tier_2_total_amount)) %></strong> of Goal</td>
	  <td></td>
  </tr>
  <tr>
	  <td></td>
	  <td><strong><%= [@tier_1_gifts.sum, @tier_2_gifts.sum].sum %></strong> Commitments = </td>
	  <td><%= number_to_currency(commitments(@tier_1_gifts, @tier_1_total_amount)+commitments(@tier_2_gifts, @tier_2_total_amount)) %> &nbsp;&nbsp;&nbsp;or</td>
	  <td><strong><%= percent(commitments(@tier_1_gifts, @tier_1_total_amount)+commitments(@tier_2_gifts, @tier_2_total_amount)) %></strong> of Goal</td>
	  <td></td>
  </tr>
</tbody>