<br><br>
<h1>Training Sheets for: <%= @campaign.name %></h1>
<br>
<div class="row">
    <%# render 'nav/side_nav' %>
	<div class="small-10 columns">
		<h3>Training Sheets Data:</h3>
		<table>
		    <thead>
			    <tr>
					
			        <th>Print Contact Name</th>
			        <th>Phone</th>
					<th>Email</th>
				    <th></th>
			        <th></th>
			    </tr>
		    </thead>

		    <tbody>
		        <tr>
			        <td><%= @training_sheet.print_contact_name %></td>
			        <td><%= number_to_phone(@training_sheet.print_contact_phone, area_code: true) %></td>
					<td><%= @training_sheet.print_contact_email %></td>
	        		<td><%= link_to 'Add/Edit Training Sheets', edit_user_campaign_training_sheet_path(@user, @campaign, @training_sheet) %></td>
	        		<td><%= link_to 'Delete All', [@user, @campaign, @training_sheet], method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_link' %></td>
                </tr>
		    </tbody>
		</table>
	</div>
</div>
